@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixin" as *;

.reccomendations {
  background-color: #005544;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  &__img {
    object-fit: cover;
    width: 90%;
    height: 100%;
  }
}
