// Breakpoints

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Colors
$primary-one: #254330;
$primary-two: #53c351;
$primary-three: #ebebeb;
$secondary-background-green: #f4f9f8;
$secondary-light-grey: #bdc5d5;
$secondary-grey: #808080;
