// Breakpoints

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Colors
$primary-one: white;
$primary-graphite: white;
$primary-blue: white;
$primary-red: white;
$secondary-slate: white;
$secondary-grey: white;
$secondary-light-grey: white;
$buttons-background: white; ;
