@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixin" as *;

.navbar {
  width: 100%;
  background-color: $primary-one;
  height: rem;
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }
  &__section {
    display: flex;
  }
  &__item {
    margin: 0 1rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: ease-in 0.1s;
  }

  &__logo {
    color: white;
    font-size: 3rem;
  }
  &__button {
    margin-right: 1rem;
    background-color: $primary-two;
    border-color: transparent;
    border-radius: 0.5rem;
    padding: 0.7rem 2.5rem;
    color: white;
    font-size: 1rem;
  }
  &__item:hover {
    border-bottom: 2px solid $primary-two;
    scale: 1.2;
  }
}
